ðŸ”¹ Stepâ€‘1: Load Dataset

In [17]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ROYAL ENFIELD\OneDrive\Documents\Desktop\titles.csv")

In [18]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000

ðŸ”¹ Stepâ€‘2: Missing Values Check

In [20]:
df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

âœ… Stepâ€‘2 (partâ€‘B): Handling Missing Values

In [28]:
df=df.dropna(subset=['title'])
df['description']=df['description'].fillna("No description available")
df['age_certification']=df['age_certification'].fillna("Unknown")
df['seasons']=df['seasons'].fillna(0)
df['imdb_id'] = df['imdb_id'].fillna("Unknown")
df['imdb_score']=df['imdb_score'].fillna(df['imdb_score'].median())
df['imdb_votes'] = df['imdb_votes'].fillna(df['imdb_votes'].median())
df['tmdb_popularity'] = df['tmdb_popularity'].fillna(df['tmdb_popularity'].median())
df['tmdb_score'] = df['tmdb_score'].fillna(df['tmdb_score'].median())

In [29]:
df.isnull().sum()

id                      0
title                   0
type                    0
description             0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
imdb_id                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

âœ… Stepâ€‘3: Remove Duplicates

In [31]:
# Count duplicates

print("Duplicate_rows:",df.duplicated().sum())

Duplicate_rows: 0

Stepâ€‘4: Standardize Text Columns

In [33]:
df['title']=df['title'].str.strip().str.title()

In [34]:
df['genres'] = df['genres'].str.lower()
df['production_countries'] = df['production_countries'].str.title()

In [35]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['Us'],1.0,Unknown,6.6,2233.5,0.600,6.900
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['Us'],0.0,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['Us'],0.0,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python And The Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['Gb'],0.0,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,Unknown,150,"['war', 'action']","['Gb', 'Us']",0.0,tt0061578,7.7,72662.0,20.398,7.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,Unknown,100,"['romance', 'drama']",['Ng'],0.0,tt13857480,6.8,45.0,1.466,6.900
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,Unknown,134,['drama'],[],0.0,tt11803618,7.7,348.0,6.821,6.900
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,Unknown,90,['comedy'],['Co'],0.0,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['Us'],0.0,Unknown,6.6,2233.5,1.296,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,Unknown,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000

Stepâ€‘5: Convert Dates & Fix Data Types

In [36]:
print(df.dtypes)

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

In [37]:
df['genres']=df['genres'].astype(str).str.strip("[]").str.replace("'", "").str.replace(",",";")

In [38]:
df['production_countries'] = df['production_countries'].astype(str).str.strip("[]").str.replace("'", "").str.replace(",", ";")

In [40]:
print(df[['genres','production_countries']].head(10))

                              genres production_countries
0                      documentation                   Us
1                       drama; crime                   Us
2  drama; action; thriller; european                   Us
3            fantasy; action; comedy                   Gb
4                        war; action               Gb; Us
5                   comedy; european                   Gb
6                             comedy                   Gb
7            thriller; action; crime                   Us
8               crime; drama; action                   Us
9             romance; action; drama                   Us

In [41]:
print(df.dtypes)

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

Save Cleaned Dataset

In [44]:
df.to_csv(r"C:\Users\ROYAL ENFIELD\Downloads\Netflix_Dataset\titles_cleaned.csv", index=False)